Pull in the data for CalEnviroScreen 4.0

In [4]:
# Change directory to location of CalEnviroScreen data
import os
os.chdir('Data/CalEnviroScreen')

In [6]:
# Import pandas 
import pandas as pd

In [18]:
# Load in CalEnviroScreen Data
import geopandas as gpd
esGdf = gpd.read_file('CES4 Final Shapefile.shp')

DriverError: CES4 Final Shapefile.shp: No such file or directory

In [4]:
# Restrict census tracts to Riverside and San Bernardino Counties
esGdf_InlandEmpire = esGdf[esGdf['County'].isin(['Riverside', 'San Bernardino'])]

In [5]:
esGdf_InlandEmpire.columns

Index(['Tract', 'ZIP', 'County', 'ApproxLoc', 'TotPop19', 'CIscore',
       'CIscoreP', 'Ozone', 'OzoneP', 'PM2_5', 'PM2_5_P', 'DieselPM',
       'DieselPM_P', 'Pesticide', 'PesticideP', 'Tox_Rel', 'Tox_Rel_P',
       'Traffic', 'TrafficP', 'DrinkWat', 'DrinkWatP', 'Lead', 'Lead_P',
       'Cleanup', 'CleanupP', 'GWThreat', 'GWThreatP', 'HazWaste', 'HazWasteP',
       'ImpWatBod', 'ImpWatBodP', 'SolWaste', 'SolWasteP', 'PollBurd',
       'PolBurdSc', 'PolBurdP', 'Asthma', 'AsthmaP', 'LowBirtWt', 'LowBirWP',
       'Cardiovas', 'CardiovasP', 'Educatn', 'EducatP', 'Ling_Isol',
       'Ling_IsolP', 'Poverty', 'PovertyP', 'Unempl', 'UnemplP', 'HousBurd',
       'HousBurdP', 'PopChar', 'PopCharSc', 'PopCharP', 'Child_10',
       'Pop_10_64', 'Elderly65', 'Hispanic', 'White', 'AfricanAm', 'NativeAm',
       'OtherMult', 'Shape_Leng', 'Shape_Area', 'AAPI', 'geometry'],
      dtype='object')

In [13]:
# Use only raw scores as x-variables
# List comprehension to exclude percentile columns and scores
cols_to_exclude = [col for col in esGdf_InlandEmpire.columns if col.endswith('P') or col.endswith('score') or col.endswith('Sc')
                   or col=='PollBurd' or col=='PopChar']
esGdf_InlandEmpire_rawscores = [col for col in esGdf_InlandEmpire.columns if col not in cols_to_exclude]

Data from 2019 American Community Survey (ACS)

In [43]:
import cenpy
from cenpy import products
# create a connection to the American Community Survey
acs = cenpy.products.ACS()

In [53]:
# what tables are available?
acs.tables.head()

,description,columns
table_name,,
B01001,SEX BY AGE,"[B01001_001E, B01001_002E, B01001_003E, B01001..."
B01002,MEDIAN AGE BY SEX,"[B01002_001E, B01002_002E, B01002_003E]"
B01003,TOTAL POPULATION,[B01003_001E]
B02001,RACE,"[B02001_001E, B02001_002E, B02001_003E, B02001..."
B02008,WHITE ALONE OR IN COMBINATION WITH ONE OR MORE...,[B02008_001E]

In [86]:
acs.filter_variables('B14005')

,label,concept,predicateType,group,limit,predicateOnly,hasGeoCollectionSupport,attributes,required
B14005_001E,Estimate!!Total:,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_001EA,B14005_001M,B14005_001MA",NaN
B14005_002E,Estimate!!Total:!!Male:,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_002EA,B14005_002M,B14005_002MA",NaN
B14005_003E,Estimate!!Total:!!Male:!!Enrolled in school:,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_003EA,B14005_003M,B14005_003MA",NaN
B14005_005E,Estimate!!Total:!!Male:!!Enrolled in school:!!...,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_005EA,B14005_005M,B14005_005MA",NaN
B14005_004E,Estimate!!Total:!!Male:!!Enrolled in school:!!...,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_004EA,B14005_004M,B14005_004MA",NaN
B14005_006E,Estimate!!Total:!!Male:!!Enrolled in school:!!...,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_006EA,B14005_006M,B14005_006MA",NaN
B14005_007E,Estimate!!Total:!!Male:!!Not enrolled in school:,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_007EA,B14005_007M,B14005_007MA",NaN
B14005_008E,Estimate!!Total:!!Male:!!Not enrolled in schoo...,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_008EA,B14005_008M,B14005_008MA",NaN
B14005_009E,Estimate!!Total:!!Male:!!Not enrolled in schoo...,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_009EA,B14005_009M,B14005_009MA",NaN
B14005_010E,Estimate!!Total:!!Male:!!Not enrolled in schoo...,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_010EA,B14005_010M,B14005_010MA",NaN
B14005_011E,Estimate!!Total:!!Male:!!Not enrolled in schoo...,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_011EA,B14005_011M,B14005_011MA",NaN
B14005_012E,Estimate!!Total:!!Male:!!Not enrolled in schoo...,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_012EA,B14005_012M,B14005_012MA",NaN
B14005_013E,Estimate!!Total:!!Male:!!Not enrolled in schoo...,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_013EA,B14005_013M,B14005_013MA",NaN
B14005_014E,Estimate!!Total:!!Male:!!Not enrolled in schoo...,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_014EA,B14005_014M,B14005_014MA",NaN
B14005_016E,Estimate!!Total:!!Female:,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_016EA,B14005_016M,B14005_016MA",NaN
B14005_015E,Estimate!!Total:!!Male:!!Not enrolled in schoo...,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_015EA,B14005_015M,B14005_015MA",NaN
B14005_017E,Estimate!!Total:!!Female:!!Enrolled in school:,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_017EA,B14005_017M,B14005_017MA",NaN
B14005_018E,Estimate!!Total:!!Female:!!Enrolled in school:...,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_018EA,B14005_018M,B14005_018MA",NaN
B14005_019E,Estimate!!Total:!!Female:!!Enrolled in school:...,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_019EA,B14005_019M,B14005_019MA",NaN
B14005_020E,Estimate!!Total:!!Female:!!Enrolled in school:...,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_020EA,B14005_020M,B14005_020MA",NaN
B14005_021E,Estimate!!Total:!!Female:!!Not enrolled in sch...,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_021EA,B14005_021M,B14005_021MA",NaN
B14005_022E,Estimate!!Total:!!Female:!!Not enrolled in sch...,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_022EA,B14005_022M,B14005_022MA",NaN
B14005_023E,Estimate!!Total:!!Female:!!Not enrolled in sch...,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_023EA,B14005_023M,B14005_023MA",NaN
B14005_024E,Estimate!!Total:!!Female:!!Not enrolled in sch...,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_024EA,B14005_024M,B14005_024MA",NaN
B14005_025E,Estimate!!Total:!!Female:!!Not enrolled in sch...,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_025EA,B14005_025M,B14005_025MA",NaN
B14005_027E,Estimate!!Total:!!Female:!!Not enrolled in sch...,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_027EA,B14005_027M,B14005_027MA",NaN
B14005_026E,Estimate!!Total:!!Female:!!Not enrolled in sch...,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_026EA,B14005_026M,B14005_026MA",NaN
B14005_028E,Estimate!!Total:!!Female:!!Not enrolled in sch...,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_028EA,B14005_028M,B14005_028MA",NaN
B14005_029E,Estimate!!Total:!!Female:!!Not enrolled in sch...,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,int,B14005,0,NaN,NaN,"B14005_029EA,B14005_029M,B14005_029MA",NaN

In [80]:
census_var = ['B01001_001E', 'B01001_003E', 'B01001_027E', 'B19013_001E', 'B14003_007E', 'B14001_010E', 'B28002_002E', 'B25040_010E', 'B25014_005E', 'B25014_006E', 'B25014_007E', 'B25014_011E', 'B25014_012E', 'B25014_013E', 'B02001_002E', 'C18108_007E', 'C18108_003E', 'C18108_011E', 'B28002_013E', 'B25014H_003E', 'B25044_003E', 'B25044_010E', 'B25044_004E', 'B25044_011E', 'B08301_001E', 'B08301_019E', 'B08301_018E', 'B08303_013E'] 
# Total Population (used to scale for percentages): B01001_001E
# Male under 5= B01001_003E, Female under 5= B01001_027E, 
# Median Household Income = B19013_001E, 
# 15-17 year-olds Enrolled in public school: B14003_007E, 
# Estimate!!Total:!!Not enrolled in school: B14001_010E,
# Estimate!!Total:!!With an Internet subscription: B28002_002E
# Estimate!!Total:!!No fuel used= B25040_010E
# Estimate!!Total:!!Owner occupied:!!1.01 to 1.50 occupants per room = B25014_005E, 
# Estimate!!Total:!!Owner occupied:!!1.51 to 2.00 occupants per room = B25014_006E,
# Estimate!!Total:!!Owner occupied:!!2.01 or more occupants per room = B25014_007E, 
# Estimate!!Total:!!Renter occupied:!!1.01 to 1.50 occupants per room = B25014_011E,
# Estimate!!Total:!!Renter occupied:!!1.51 to 2.00 occupants per room = B25014_012E,
# Estimate!!Total:!!Renter occupied:!!2.01 or more occupants per room = B25014_013E, 
# Estimate!!Total:!!White alone = B02001_002E
# Estimate!!Total:!!18 to 64 years!!With one type of disability = C18108_007E
# Estimate!!Total:!!Under 18 years:!!With one type of disability = C18108_003E
# Estimate!!Total:!!65 years and over:!!With one type of disability = C18108_011E
# Estimate!!Total:!!No Internet access = B28002_013E
# Estimate!!Total:!!1.01 or more occupants per room = B25014H_003E
# Estimate!!Total!!Owner occupied!!No vehicle available = B25044_003E 
# Estimate!!Total!!Renter occupied!!No vehicle available = B25044_010E
# Estimate!!Total!!Owner occupied!!1 vehicle available = B25044_004E
# Estimate!!Total!!Renter occupied!!1 vehicle available = B25044_011E
# Estimate!!Total!! means of transportation to work = B08301_001E
# Estimate!!Total!!Walked = B08301_019E
# Estimate!!Total!!Bicycle = B08301_018E
# Estimate!!Total:!!90 or more minutes time to travel to work = B08303_013E

In [81]:
# Get 2019 ACS Tenure variables and Median Household Income for LA county 
censusDf_Riverside = products.ACS(2019).from_county('Riverside, CA', level='tract',
                                        variables=census_var)
censusDf_San_Bernardino = products.ACS(2019).from_county('San Bernardino, CA', level='tract',
                                        variables=census_var)

/Users/samanthasmithies/anaconda3/envs/uds/lib/python3.9/site-packages/cenpy/products.py:762: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  return self._from_name(county, variables, level, "Counties", **kwargs)
/Users/samanthasmithies/anaconda3/envs/uds/lib/python3.9/site-packages/cenpy/products.py:762: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  return self._from_name(county, variables, level, "Counties", **kwargs)

In [84]:
censusDf_IE = pd.concat((censusDf_Riverside, censusDf_San_Bernardino), axis=0)

censusDf_IE['POC'] = (censusDf_IE['B01001_001E'] - censusDf_IE['B02001_002E'])*100 # total population - white alone * 100
censusDf_IE['pct_disability'] = ((censusDf_IE['C18108_007E'] + censusDf_IE['C18108_003E'] + censusDf_IE['C18108_011E'])/censusDf_IE['B01001_001E'])*100 # sum number of estimated total of people in each range with one type of disabiltity, divide by total population
censusDf_IE['pct_youngchild'] = ((censusDf_IE['B01001_003E'] + censusDf_IE['B01001_027E'])/censusDf_IE['B01001_001E'])*100 # male under 5 + female under 5, divided by total population
# censusDf_IE['pct_older'] = ((censusDf_IE['___'] + censusDf_IE['___'])/censusDf_IE['B01001_001E'])*100 # missing the counts for 65+
# censusDf_IE['pct_disconnectedyouth'] need total population of age group
# censusDf_IE['pct_woutinternet'] - need total number of households
# censusDf_IE['pct_vehicleowner'] = ((censusDf_IE['B25044_003E'] + censusDf_IE['B25044_010E'] + censusDf_IE['B25044_004E'] + censusDf_IE['B25044_011E'])/total number of households)*100
censusDf_ID['pct_activecommute'] = ((censusDf_IE['B08301_019E'] + censusDf_IE['B08301_018E'])/censusDf_IE['B08301_001E'])*100

Pull in the data from HUD CHAS

In [11]:
os.chdir('../HUD CHAS')
hamfiDf = pd.read_csv('Table16.csv')
len(hamfiDf)

74001

In [8]:
# Select HUD CHAS data for census tracts in the IE
hamfiDfIE = hamfiDf[hamfiDf['name'].str.contains("Riverside")|hamfiDf['name'].str.contains("San Bernardino")]

Calculate percentage of households per tract that make 30% or less than the HUD Area Median Family Income (HAMFI).

In [10]:
# Identify percentage of households per tract that make 30% or less than the HUD Area Median Family Income (HAMFI).
hamfiDfIE['hamfi30'] = ((hamfiDf['T16_est3'] + hamfiDf['T16_est88'])/hamfiDf['T16_est1'])*100
hamfiDfIE.head()

/var/folders/nt/pqtkb2xn7dv92qdv8m3dc9380000gn/T/ipykernel_65626/1004517579.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hamfiDfIE['hamfi30'] = ((hamfiDf['T16_est3'] + hamfiDf['T16_est88'])/hamfiDf['T16_est1'])*100

,source,sumlevel,geoid,name,st,cnty,tract,T16_est1,T16_est2,T16_est3,...,T16_moe163,T16_moe164,T16_moe165,T16_moe166,T16_moe167,T16_moe168,T16_moe169,T16_moe170,T16_moe171,hamfi30
8068,2015thru2019,140,14000US06065030101,"Census Tract 301.01, Riverside County, California",6,65,30101,365,190,10,...,12,12,12,12,12,3,12,3,12,9.589041
8069,2015thru2019,140,14000US06065030103,"Census Tract 301.03, Riverside County, California",6,65,30103,600,280,30,...,12,12,12,12,12,32,12,32,12,20.833333
8070,2015thru2019,140,14000US06065030104,"Census Tract 301.04, Riverside County, California",6,65,30104,1880,1195,45,...,17,16,17,16,17,80,64,51,17,9.042553
8071,2015thru2019,140,14000US06065030200,"Census Tract 302, Riverside County, California",6,65,30200,1770,855,20,...,12,12,12,12,12,63,12,63,12,6.779661
8072,2015thru2019,140,14000US06065030300,"Census Tract 303, Riverside County, California",6,65,30300,1635,180,40,...,12,57,17,55,12,111,12,111,12,32.721713

Pull in the California Natural Resources Agency (CNRA) California
Heat Assessment Tool (CHAT) 2015 data

In [33]:
os.chdir('../CHAT')
CHATRiversideDf = pd.read_csv('CHAT-Riverside County-projected.csv')
CHATSBDf = pd.read_csv('CHAT-San Bernardino County-projected.csv')

In [40]:
# Concatenate Riverside and San Bernardino Data
CHATRiversideDf.set_index('geoid_long', inplace=True)
CHATSBDf.set_index('geoid_long', inplace=True)
CHATIE = pd.concat((CHATRiversideDf, CHATSBDf), axis=0)
CHATIE.head()

,rcp,projections_ct,census_county,census_city,projections_time_frame,socioeconomic_group,time_of_year,model_percentiles,proj_ann_num_events,proj_avg_tmax,proj_avg_tmin,proj_avg_duration,proj_avg_rhmax,proj_avg_rhmin,ann_freq_rel_chg_perc,dur_rel_chg_perc
geoid_long,,,,,,,,,,,,,,,,
1400000US06065030101,rcp45,2147483647,Riverside County,Riverside,2011-2030,2006 HW,Total,5,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1400000US06065030101,rcp45,2147483647,Riverside County,Riverside,2011-2030,Vulnerable,Total,5,1.55,104.81,67.97,4.94,59.94,16.27,-21.19,2.90
1400000US06065030101,rcp45,2147483647,Riverside County,Riverside,2011-2030,General,AM,5,0.15,95.31,61.25,4.33,57.35,17.52,-35.71,1.11
1400000US06065030101,rcp45,2147483647,Riverside County,Riverside,2011-2030,General,JJA,5,0.10,104.03,68.97,4.00,68.38,17.69,-25.00,-30.43
1400000US06065030101,rcp45,2147483647,Riverside County,Riverside,2011-2030,General,SO,5,0.00,NaN,NaN,NaN,NaN,NaN,-100.00,NaN

In [41]:
# Select Heat Health Events Max Temperature
CHATIE_maxtemp = CHATIE['proj_avg_tmax']
CHATIE_maxtemp.head()

geoid_long
1400000US06065030101       NaN
1400000US06065030101    104.81
1400000US06065030101     95.31
1400000US06065030101    104.03
1400000US06065030101       NaN
Name: proj_avg_tmax, dtype: float64