Pull in the data for CalEnviroScreen 4.0

In [18]:
# Change directory to location of CalEnviroScreen data
import os
os.getcwd()
os.chdir('CalEnviroScreen')

In [6]:
# Import pandas 
import pandas as pd

In [19]:
# Load in CalEnviroScreen Data
import geopandas as gpd
esGdf = gpd.read_file('CES4 Final Shapefile.shp')

In [4]:
# Restrict census tracts to Riverside and San Bernardino Counties
esGdf_InlandEmpire = esGdf[esGdf['County'].isin(['Riverside', 'San Bernardino'])]

In [5]:
esGdf_InlandEmpire.columns

Index(['Tract', 'ZIP', 'County', 'ApproxLoc', 'TotPop19', 'CIscore',
       'CIscoreP', 'Ozone', 'OzoneP', 'PM2_5', 'PM2_5_P', 'DieselPM',
       'DieselPM_P', 'Pesticide', 'PesticideP', 'Tox_Rel', 'Tox_Rel_P',
       'Traffic', 'TrafficP', 'DrinkWat', 'DrinkWatP', 'Lead', 'Lead_P',
       'Cleanup', 'CleanupP', 'GWThreat', 'GWThreatP', 'HazWaste', 'HazWasteP',
       'ImpWatBod', 'ImpWatBodP', 'SolWaste', 'SolWasteP', 'PollBurd',
       'PolBurdSc', 'PolBurdP', 'Asthma', 'AsthmaP', 'LowBirtWt', 'LowBirWP',
       'Cardiovas', 'CardiovasP', 'Educatn', 'EducatP', 'Ling_Isol',
       'Ling_IsolP', 'Poverty', 'PovertyP', 'Unempl', 'UnemplP', 'HousBurd',
       'HousBurdP', 'PopChar', 'PopCharSc', 'PopCharP', 'Child_10',
       'Pop_10_64', 'Elderly65', 'Hispanic', 'White', 'AfricanAm', 'NativeAm',
       'OtherMult', 'Shape_Leng', 'Shape_Area', 'AAPI', 'geometry'],
      dtype='object')

In [13]:
# Use only raw scores as x-variables
# List comprehension to exclude percentile columns and scores
cols_to_exclude = [col for col in esGdf_InlandEmpire.columns if col.endswith('P') or col.endswith('score') or col.endswith('Sc')
                   or col=='PollBurd' or col=='PopChar']
esGdf_InlandEmpire_rawscores = [col for col in esGdf_InlandEmpire.columns if col not in cols_to_exclude]

Data from 2019 American Community Survey (ACS)

In [52]:
import cenpy
from cenpy import products
# create a connection to the American Community Survey
acs = cenpy.products.ACS()
# Get 2019 ACS Tenure variables and Median Household Income for LA county 
censusDf_Riverside = products.ACS(2019).from_county('Riverside, CA', level='tract',
                                        variables=['B25003_001E', 'B25003_002E', 'B25003_003E', 'B19013_001E'])
censusDf_San_Bernardino = products.ACS(2019).from_county('San Bernardino, CA', level='tract',
                                        variables=['B25003_001E', 'B25003_002E', 'B25003_003E', 'B19013_001E'])

/Users/samanthasmithies/anaconda3/envs/uds/lib/python3.9/site-packages/cenpy/products.py:762: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  return self._from_name(county, variables, level, "Counties", **kwargs)
/Users/samanthasmithies/anaconda3/envs/uds/lib/python3.9/site-packages/cenpy/products.py:762: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  return self._from_name(county, variables, level, "Counties", **kwargs)

In [53]:
# what tables are available?
acs.tables.head()

,description,columns
table_name,,
B01001,SEX BY AGE,"[B01001_001E, B01001_002E, B01001_003E, B01001..."
B01002,MEDIAN AGE BY SEX,"[B01002_001E, B01002_002E, B01002_003E]"
B01003,TOTAL POPULATION,[B01003_001E]
B02001,RACE,"[B02001_001E, B02001_002E, B02001_003E, B02001..."
B02008,WHITE ALONE OR IN COMBINATION WITH ONE OR MORE...,[B02008_001E]

In [ ]:
# Variables = [
# Total Population (used to scale for percentages): B01001_001E
# Male under 5= B01001_003E, Female under 5= B01001_027E, 
# Median Household Income = B19013_001E, 
# 15-17 year-olds Enrolled in public school: B14003_007E, 
# Estimate!!Total:!!Not enrolled in school: B14001_010E,
# Estimate!!Total:!!With an Internet subscription: B28002_002E, Estimate!!Total:!!No fuel used= B25040_010E	
# Estimate!!Total:!!Owner occupied:!!1.01 to 1.50 occupants per room = B25014_005E, 
# Estimate!!Total:!!Owner occupied:!!1.51 to 2.00 occupants per room = B25014_006E,
# Estimate!!Total:!!Owner occupied:!!2.01 or more occupants per room = B25014_007E, 
# Estimate!!Total:!!Renter occupied:!!1.01 to 1.50 occupants per room = B25014_011E,
# Estimate!!Total:!!Renter occupied:!!1.51 to 2.00 occupants per room = B25014_012E,
# Estimate!!Total:!!Renter occupied:!!2.01 or more occupants per room = B25014_013E, 
# Estimate!!Total:!!White alone = B02001_002E
# Estimate!!Total:!!18 to 64 years!!With one type of disability = C18108_007E
# Estimate!!Total:!!Under 18 years:!!With one type of disability = C18108_003E
# Estimate!!Total:!!65 years and over:!!With one type of disability = C18108_0011E
# Estimate!!Total:!!No Internet access = B28002_013E
# Estimate!!Total:!!No fuel used = B25040_010E
# Estimate!!Total:!!1.01 or more occupants per room = B25014H_003E

Pull in the data from HUD CHAS

In [24]:
os.chdir('../HUD CHAS')
hamfiDf = pd.read_csv('Table16.csv')
len(hamfiDf)

Empty DataFrame
Columns: [source, sumlevel, geoid, name, st, cnty, tract, T16_est1, T16_est2, T16_est3, T16_est4, T16_est5, T16_est6, T16_est7, T16_est8, T16_est9, T16_est10, T16_est11, T16_est12, T16_est13, T16_est14, T16_est15, T16_est16, T16_est17, T16_est18, T16_est19, T16_est20, T16_est21, T16_est22, T16_est23, T16_est24, T16_est25, T16_est26, T16_est27, T16_est28, T16_est29, T16_est30, T16_est31, T16_est32, T16_est33, T16_est34, T16_est35, T16_est36, T16_est37, T16_est38, T16_est39, T16_est40, T16_est41, T16_est42, T16_est43, T16_est44, T16_est45, T16_est46, T16_est47, T16_est48, T16_est49, T16_est50, T16_est51, T16_est52, T16_est53, T16_est54, T16_est55, T16_est56, T16_est57, T16_est58, T16_est59, T16_est60, T16_est61, T16_est62, T16_est63, T16_est64, T16_est65, T16_est66, T16_est67, T16_est68, T16_est69, T16_est70, T16_est71, T16_est72, T16_est73, T16_est74, T16_est75, T16_est76, T16_est77, T16_est78, T16_est79, T16_est80, T16_est81, T16_est82, T16_est83, T16_est84, T16_est85, T16_est86, T16_est87, T16_est88, T16_est89, T16_est90, T16_est91, T16_est92, T16_est93, ...]
Index: []

[0 rows x 349 columns]

In [47]:
# Select HUD CHAS data for census tracts in the IE
hamfiDfIE = hamfiDf[hamfiDf['name'].str.contains("Riverside")|hamfiDf['name'].str.contains("San Bernardino")]

Calculate percentage of households per tract that make 30% or less than the HUD Area Median Family Income (HAMFI).

In [50]:
# Identify percentage of households per tract that make 30% or less than the HUD Area Median Family Income (HAMFI).

hamfiDfIE['hamfi30'] = ((hamfiDf['T16_est3'] + hamfiDf['T16_est88'])/hamfiDf['T16_est1'])*100
hamfiDfIE['hamfi30'].head()

/var/folders/nt/pqtkb2xn7dv92qdv8m3dc9380000gn/T/ipykernel_4329/3931544881.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hamfiDfIE['hamfi30'] = ((hamfiDf['T16_est3'] + hamfiDf['T16_est88'])/hamfiDf['T16_est1'])*100

8068     9.589041
8069    20.833333
8070     9.042553
8071     6.779661
8072    32.721713
Name: hamfi30, dtype: float64